# server
PORT=8080
GIN_MODE=debug
KEY_ENCRYPTION_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# shared
DATABASE_URL=postgres://postgres:postgres@localhost:5433/oblak

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false

KEY_ENCRYPTION_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

OLLAMA_URL=http://localhost:11434
AI_MODEL_NAME=qwen2.5:3b
ANTIVIRUS_URL=tcp://localhost:3310

AUDITOR_PATH=/home/nikola-velemir/faks/rbs/oblak/.venv/bin/pip-audit
SAST_PATH=/home/nikola-velemir/faks/rbs/oblak/.venv/bin/semgrep

JSON_REPORT_OUTPUT_PATH=/tmp/reports/
# vm
AMQP_URI=amqp://admin:admin@localhost:5672/
AMQP_VM_EXCHANGE_NAME=vm
BUILD_QUEUE_NAME=build
BUILD_DLQ_NAME=build_dlq
EXECUTE_QUEUE_NAME=execute
MAX_CONCURRENT_BUILDS=3
MAX_CONCURRENT_EXECUTES=20
MAX_CONCURRENT_VMS=20
